# Local Django backend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Examples:
# NEXT_PUBLIC_API_URL=https://qa.api.duett.io
# NEXT_PUBLIC_API_URL=https://staging.api.duett.io
# NEXT_PUBLIC_API_URL=https://api.duett.io
