files:
    /usr/local/bin/clam_fullscan.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            mkdir /var/log/clamscan
            /usr/bin/clamscan -v -r --log=/var/log/clamscan/clamscan.log --exclude-dir=/var/lib/docker/overlay2 
            for i in `ls -1 /var/lib/docker/overlay2`; do
              /usr/bin/clamscan -v -r --log=/var/log/clamscan/clamscan_$i.log /$i
            done

    /etc/cron.d/clamscan:
        mode: "000644"
        owner: root
        group: root
        content: |
            0 10,22 * * * root /usr/local/bin/clam_fullscan.sh > /dev/null 2>&1

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/clamscan.bak"
